<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075790444413-jl4kjkv1m1bgk1roemqp2ejre9dp355r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075790444413-jl4kjkv1m1bgk1roemqp2ejre9dp355r</string>
	<key>API_KEY</key>
	<string>AIzaSyC_3lsZqyuA9CyLfhg1r0rhhUZkzTsTxJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1075790444413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>finbalance.com.br</string>
	<key>PROJECT_ID</key>
	<string>finbalance-76d19</string>
	<key>STORAGE_BUCKET</key>
	<string>finbalance-76d19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075790444413:ios:413dbaddc70bc7f3677e14</string>
</dict>
</plist>